 .pro-img-details {
        margin-left: -15px;
    }
    
    .pro-img-details img {
        width: 100%;
    }
    
    
    .pro-img-list {
        margin: 10px 0 0 -15px;
        width: 100%;
        display: inline-block;
    }
    
    .pro-img-list a {
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    
   .image-product{
    height: 100px; 
    width: 125px;
   }

   .getQuantity{
    margin-left: 50px;
    margin-right: 50px;
    font-weight: bold;
}
   